#page-header {
    background-color: rgba(102, 194, 247, 0.412) !important; /* 正确的RGBA格式 */
}
#page-header.post-bg {
    height: 200px;
  }
  [data-theme='dark'] 
    #page-header {
        background-color:#d1d3fe54 !important; 
    }